<article class="grid grid--1x2 feature">
  <div class="feature__content">
    <span class="icon-container">
      <svg class="icon icon--primary">
        <use href="images/sprite.svg#easy"></use>
      </svg>
    </span>
    <h3 class="feature__heading">Super Easy to Use</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quisquam,
      ex nostrum vero voluptates dicta excepturi vel perspiciatis consequuntur
      ab.
    </p>
    <a href="#" class="link-arrow">Learn More</a>
  </div>
  <picture>
    <source
      srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      type="image/webp"
    />
    <source
      srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      type="image/jpg"
    />
    <img src="images/easy@2x.jpg" alt="" />
  </picture>
</article>
