<div class="input-group">
  <button class="btn btn--accent">Search</button>
  <input type="text" class="input" placeholder="Enter domain name here..." />
</div>

<div class="input-group">
  <input type="text" class="input" placeholder="Enter domain name here..." />
  <button class="btn btn--accent">Search</button>
</div>

<div class="input-group">
  <span class="icon-container">
    <svg class="icon icon--primary">
      <use href="images/sprite.svg#wordpress"></use>
    </svg>
  </span>
  <input type="text" class="input" placeholder="Enter domain name here..." />
</div>
